@font-face {
    font-family: 'Eurocine';
    src: url('Eurocine-Regular.eot');
    src: local('Eurocine Regular'), local('Eurocine-Regular'),
        url('Eurocine-Regular.eot?#iefix') format('embedded-opentype'),
        url('Eurocine-Regular.woff2') format('woff2'),
        url('Eurocine-Regular.woff') format('woff'),
        url('Eurocine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff'),
        url('Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerifTC';
    src: url('NotoSerifTC-ExtraLight-Alphabetic.eot');
    src: local(''), local('NotoSerifTC-ExtraLight-Alphabetic'),
        url('NotoSerifTC-ExtraLight-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifTC-ExtraLight-Alphabetic.woff2') format('woff2'),
        url('NotoSerifTC-ExtraLight-Alphabetic.woff') format('woff'),
        url('NotoSerifTC-ExtraLight-Alphabetic.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerifTC';
    src: url('NotoSerifTC-Light-Alphabetic.eot');
    src: local(''), local('NotoSerifTC-Light-Alphabetic'),
        url('NotoSerifTC-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifTC-Light-Alphabetic.woff2') format('woff2'),
        url('NotoSerifTC-Light-Alphabetic.woff') format('woff'),
        url('NotoSerifTC-Light-Alphabetic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NotoSerifTC';
    src: url('NotoSerifTC-Regular-Alphabetic.eot');
    src: local(''), local('NotoSerifTC-Regular-Alphabetic'),
        url('NotoSerifTC-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifTC-Regular-Alphabetic.woff2') format('woff2'),
        url('NotoSerifTC-Regular-Alphabetic.woff') format('woff'),
        url('NotoSerifTC-Regular-Alphabetic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerifTC';
    src: url('NotoSerifTC-SemiBold-Alphabetic.eot');
    src: local(''), local('NotoSerifTC-SemiBold-Alphabetic'),
        url('NotoSerifTC-SemiBold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifTC-SemiBold-Alphabetic.woff2') format('woff2'),
        url('NotoSerifTC-SemiBold-Alphabetic.woff') format('woff'),
        url('NotoSerifTC-SemiBold-Alphabetic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerifTC';
    src: url('NotoSerifTC-Bold-Alphabetic.eot');
    src: local(''), local('NotoSerifTC-Bold-Alphabetic'),
        url('NotoSerifTC-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifTC-Bold-Alphabetic.woff2') format('woff2'),
        url('NotoSerifTC-Bold-Alphabetic.woff') format('woff'),
        url('NotoSerifTC-Bold-Alphabetic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerifTC';
    src: url('NotoSerifTC-Black-Alphabetic.eot');
    src: local(''), local('NotoSerifTC-Black-Alphabetic'),
        url('NotoSerifTC-Black-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifTC-Black-Alphabetic.woff2') format('woff2'),
        url('NotoSerifTC-Black-Alphabetic.woff') format('woff'),
        url('NotoSerifTC-Black-Alphabetic.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
