* {
    box-sizing: border-box;
}

body {
    --bGColor1: #836d98ff;
    --bGColor2: white;
    --fontColor1: #7d52a8;
    --bannerBg: #a24192;
    background-color: var(--bGColor1);
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:NotoSerifTC;}

#main {
    background-color: var(--bGColor1);
    padding: 2%;
    background-image: linear-gradient(0, transparent, var(--bannerBg));
}

.container {
    background-color: var(--bGColor2);
    padding: 1% 5% 1% 5%;
    margin-top: 2%;
    border-radius: 4px;
}

#header-container {
    display: flex;
    justify-content: center;
}

#nav-container {margin-top: 0;display: grid;grid-template-columns: 35px auto;align-items: center;grid-gap: 1rem;background-color: transparent;background-image: linear-gradient(0, #a24192ff, #a24192cc);position: sticky;top: 0;}

#nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 0 10px;
    margin: 0;
}

.nav-list-item {
    font-weight: 600;
    
/*     font-weight: medium this worked */
}

.nav-list-item a:link {
    text-decoration: none;
    color: white;
}

.nav-list-item a:visited {
    text-decoration: none;
    color: black;
}

.nav-list-item a:hover {
    text-decoration: none;
    color: var(--fontColor1);
}

.nav-list-item a:active {
    text-decoration: underline;
    font-weight: bold;
}

#name-brand {
    color: var(--fontColor1);
    font-weight: 600;
}

h2 {
    color: black;
    
    font-weight: 500;
    font-variant: small-caps;
}

h3 {
    color: grey;
    
    font-weight: 500;
}

h4 {
    color: black;
    
    font-weight: 500;
    font-style: italic;
}

p{
    font-family: 'Times New Roman';
}

#logo {
    font-weight: 600;
    font-size: 40px;
    font-style: italic;
    color: var(--fontColor1);
    text-align: center;
    text-decoration: none;
}

.no-underline {
  text-decoration: none;
}
img.nav-logo {
    max-height: 35px;
}

div#body-container {
    margin-top: -45px;
}

header {
    background-color: var(--bannerBg);
}
.container h2, .container p {
    text-align: center;
}